:root {
    --primary-text-color: #212121;
    --title-text-color: #FFFFFF;
    --secondarytext-color: #757575;
    --accent-text-color: #2196F3;
    --adress-text-color: rgba(255, 255, 255, 0.6);
    --logo-text-color: #000000;

}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: #FFFFFF;  
}


/* <page-header> */

a {
    text-decoration: none;
}


/* <logo and link> */

.logoheader {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}
.logoheader-studio {
    color: var(--logo-text-color);
}


/* <link> */

.link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
}
a.linkpage.active-link {
    color: var(--accent-text-color);
}
.link .linkpage {
    color: var(--primary-text-color);
}
.link .linkpage:hover,
.link .linkpage:focus {
    color: var(--accent-text-color);
}



/* <contacts> */

.contacts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
}

.contacts .mail {
    color: var(--secondarytext-color);
}
.contacts .mail:hover,
.contacts .mail:focus {
    color: var(--accent-text-color);
}

.contacts .tel {
    color: var(--secondarytext-color);
}
.contacts .tel:hover,
.contacts .tel:focus {
    color: var(--accent-text-color);
}


/* <order> */

.order {
    background: #2F303A;
}
.order-description {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.type-order {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background: #2196F3;
    color: var(--title-text-color);
}
.type-order:hover,
.type-order:focus {
    background: #F5F4FA;
    color: var(--primary-text-color);
}
button {
    cursor: pointer;
    background: #F5F4FA;
}

/* <skills description> */

.skills {
   list-style-type: none;
}
.name-skills {
    font-weight: 700;
    line-height: 1.14;
}

.skills-description {
    line-height: 1.71;
    color: var(--secondarytext-color);
}



/* <what do we do> */

.type-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    list-style-type: none;
}


/* <team members> */

.teams {
    
    background: #F5F4FA;
}
.name-teams {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team-members {
    list-style-type: none;

}

.name-mambers {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.position-members {
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondarytext-color);
}


/* <page footer> */

.page-footer {
    background: #2F303A;
}

.logofooter {
     
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
    
    color: var(--accent-text-color);
    
}
.logofooter-studio {
    color: var(--title-text-color);
}

.adress {
    font-style: normal;
    line-height: 1.71;
    list-style-type: none;
}

.name-adress {
    color: var(--title-text-color);
}
.name-adress:hover,
.name-adress:focus {
    color: var(--accent-text-color);
}
.footer-mail {
    color: var(--adress-text-color);
}
.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-text-color);
}
.footer-tel {
    color: var(--adress-text-color);
}
.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-text-color);
}



/* <portfolio> */

.applications {
    list-style-type: none;
}

.type-applications {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;  
    border: none;  
}
.type-applications:hover,
.type-applications:focus {
    background: #2196F3;
    color: var(--title-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.about {
    list-style-type: none;

}

.about-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.subdivision {
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondarytext-color);
}